{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : 'warn',
    "max-len":["error",{ "ignoreComments": true, "code":100 }],
    "no-underscore-dangle":0,
    "no-param-reassign": 0,
  }
}